.login-logo { max-width: 150px; }

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.white { color: white; }

.white:hover { color: rgba(255,255,255,.8); text-decoration: none; }