//Custom
$font-primary: #2863a4;
$font-yellow: #E2AD1D;

$porcicultura-color: #f3A997;
$bovino-color:	#6D4304;
$camaron-color: #274065;
$esquinos-color: #6D4304;
$fosfato-color: #FE9800;
$peces-color:	#274065;
$light-blue: #00BFFF ;

$bg-footer : #EFF0F0;

a:hover { text-decoration: none; }

.font-size-10 {
	font-size: 10px;
}

.img-logo {
	max-width: 350px;
	margin-top: 20px;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.margin-bottom-05 { margin-bottom: 0.5em; }
.margin-bottom-10 { margin-bottom: 1.0em; }
.margin-bottom-15 { margin-bottom: 1.5em; }
.margin-bottom-20 { margin-bottom: 2.0em; }
.margin-bottom-25 { margin-bottom: 2.5em; }
.margin-bottom-30 { margin-bottom: 3.0em; }

.margin-left-05 { margin-left: 0.5em; }
.margin-left-10 { margin-left: 1.0em; }
.margin-left-15 { margin-left: 1.5em; }
.margin-left-20 { margin-left: 2.0em; }
.margin-left-25 { margin-left: 2.5em; }
.margin-left-30 { margin-left: 3.0em; }

.bovino-title { border-bottom: 2px solid $bovino-color }

.no-padding { padding: 0; }
.no-radius { border-radius: 0px; }
.yellow { color: $font-yellow; }
.blue { color: $font-primary; }
.light-blue { color: $light-blue; }
.porcicultura-color { color: $porcicultura-color; }
.bovino-color { color: $bovino-color; }
.camaron-color { color: $camaron-color; }
.esquinos-color { color: $esquinos-color; }
.fosfato-color { color: $fosfato-color; }
.peces-color { color: $peces-color; }

.bg-blue { background-color: $font-primary; color: white; }

.navbar-default .navbar-brand { color: $font-primary; }

body { background-color: #fff; }

.top-icon 
{ 
	margin-top: 3px;
	margin-left: 5px;
	width: 40px;
	height: 40px;
	// border: 1px solid #cbcbcb;
	border-radius: 4px;
}

.top-icon:hover 
{
	-webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.5);
}

.padding-5 { padding: 5px; }
.margin-5 { margin-top: 5px; }
.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: rgba(255,255,255,.75);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
	background-color: transparent;
	color: rgba(255,255,255,.75);
}

// .navbar-nav > li > .dropdown-menu{ margin-top: 8px; }

.rounded { border-radius: 20px;}

img.center {
    display: block;
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-control:hover, .carousel-control:focus
{
	color: $font-primary;
}

.carousel-control { color: $font-primary; }

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus 
{
	background-color: $font-primary; 
	color: white;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
	border: 1px solid $font-primary;
	border-radius: 0px;
}

.tab-yellow > li.active > a,.tab-yellow > li.active > a:hover, .tab-yellow > li.active > a:focus 
{
	color: white !important;
	background-color: $font-yellow !important;
}
.tab-yellow > li.active > a, .tab-yellow > li.active > a:hover, .tab-yellow > li.active > a:focus
{
	border: 1px solid $font-yellow !important;
	border-radius: 0px;
}
.tab-yellow > li > a { color: $font-yellow !important; }

.tab-bovino > li.active > a,.tab-bovino > li.active > a:hover, .tab-bovino > li.active > a:focus 
{
	color: white !important;
	background-color: $bovino-color !important;
}
.tab-bovino > li.active > a, .tab-bovino > li.active > a:hover, .tab-bovino > li.active > a:focus
{
	border: 1px solid $bovino-color !important;
	border-radius: 0px;
}
.tab-bovino > li > a { color: $bovino-color !important; }




.btn-go 
{
	background-color: rgba(0,0,0,.8);
	color: white;
}

.img-100 { width: 100%; }


.tab-porcicultura > li.active > a,.tab-porcicultura > li.active > a:hover, .tab-porcicultura > li.active > a:focus 
{
	color: white !important;
	background-color: $porcicultura-color !important;
}
.tab-porcicultura > li.active > a, .tab-porcicultura > li.active > a:hover, .tab-porcicultura > li.active > a:focus
{
	border: 1px solid $porcicultura-color !important;
	border-radius: 0px;
}
.tab-porcicultura > li > a { color: $porcicultura-color !important; }


.tab-fosfato > li.active > a,.tab-fosfato > li.active > a:hover, .tab-fosfato > li.active > a:focus 
{
	color: white !important;
	background-color: $fosfato-color !important;
}
.tab-fosfato > li.active > a, .tab-fosfato > li.active > a:hover, .tab-fosfato > li.active > a:focus
{
	border: 1px solid $fosfato-color !important;
	border-radius: 0px;
}
.tab-fosfato > li > a { color: $fosfato-color !important; }

.box 
{
	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

.bg-footer
{
	background-color: $bg-footer;
}

a { color: inherit;}

a:focus, a:active { text-decoration: none; }

p {
	font-size: 16px !important;
}